@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

input {
	outline: transparent;
}

h1 {
	font-size: xx-large;
	margin-top: 20px;
	margin-bottom: 10px;
}
h2 {
	font-size: x-large;
}
h3 {
	font-size: larger;
}
h3 {
	font-size: large;
}

textarea:focus {
	/* outline-width: 1px; */
	/* outline-color: white; */
	border: none;
	outline: none;
}
